body {
  font: "Open Sans", sans-serif; }

.btn-primary {
  background-color: #009EC0;
  border-color: #FFCB06; }

.btn-primary:hover {
  background-color: #FFCB06;
  border-color: #FFCB06; }

body.auth {
  background-color: #009EC0;
  padding-top: 150px; }

body.auth .form-control {
  height: 60px;
  font-weight: 300; }

/*# sourceMappingURL=app.css.map */