@import 'config';

body { 
  font: $font-stack;
  
}

.btn-primary {
    
    background-color: $primary-color;
    border-color: $complimentary-color;
}

.btn-primary:hover {
    
    background-color: $complimentary-color;
    border-color: $complimentary-color;
}
body.auth {
    
    background-color: $primary-color;
    padding-top: 150px;
}

body.auth .form-control {
    
    height: 60px;
    font-weight: 300; 
} 